<div class="container">



<div class="" ng-if="myinfoCtrl.user.registred"> <h1>Your info</h1>
  <p>Your profile details:</p>
  <div class="">
    <span class="usertitle">First name:</span> <span class="userInput">{{myinfoCtrl.user.firstname}}</span>
  </div>
  <div class="">
    <span class="usertitle">Surname:</span> <span class="userInput">{{myinfoCtrl.user.surname}}</span>
  </div>
  <div class="">
    <span class="usertitle">Email:</span> <span class="userInput">{{myinfoCtrl.user.email}}</span>
  </div>
  <div class="">
    <span class="usertitle">Phone number:</span> <span class="userInput">{{myinfoCtrl.user.phonenumber}}</span>
  </div>
  <div class="">
    <span class="usertitle">Your favorite menu</span>: <span class="userInput">{{myinfoCtrl.lookUpTitle(myinfoCtrl.user.favoritemenu)}} ({{myinfoCtrl.user.favoritemenu}})</span>
  </div>
  <img class="img-responsive" width="250" height="150" ng-src="{{myinfoCtrl.basePath}}/images/{{myinfoCtrl.user.favoritemenu}}.jpg" >


</div>

<div class="" ng-if="!myinfoCtrl.user.registred">
  <div class="noRegistration">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up</a> now!
  </div>
</div>



</div>
